
<div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<div class="field">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name, autocomplete: "first_name" %>
</div>

<div class="field">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name, autocomplete: "last_name" %>
</div>

<div class="field">
  <%= f.label :time_zone %><br />
  <%= f.select :time_zone, ["PT", "ET", "CT", "GMT"], include_blank: true %>
</div>

<div class="field">
  <%= f.label :Private_account? %><br />
  <%= f.check_box :privacy_status, {}, 1, 0 %>
  <%# 0 = checked, 1 = unchecked %>
</div>

<div class="field">
  <%= f.label :Would_you_like_to_be_a_mentor? %><br />
  <%= f.check_box :mentor_status, {}, 1, 0 %>
  <%# 0 = checked, 1 = unchecked %>
</div>
